*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}

#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
}
#logo{
    margin: 10px 34px;
    

}
#logo img{
    margin:3px 6px ;
    height: 59px;

}
/* #navbar{
    display: flex;
    position: sticky;
    al
} */
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai 2', cursive;
}
#navbar::before{
    content: " ";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;

}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}
#navbar ul li a:hover{
    color: black;
    background-color: antiquewhite;
}
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 371px;
    justify-content: center;
    align-items: center;
}
#home::before{
    content: " ";
    background: url(../bg.jpg)no-repeat center center/cover;
    position: absolute;
    height: 129%;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
    margin-bottom: 600px;

}
#home h1{
    color: white;
    text-align: center;
    font-family: 'Lemonada', cursive;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.5rm;
    font-family: 'Lemonada', cursive;
}
#services{
    margin: 13px;
    display: flex;
}
.box{
    border: 2px solid rgb(23, 88, 163);
    /* margin: auto; */
    margin: 13px;
    padding: 11px ;
    /* width: 86%; */
    border-radius: 28px;
    background: rgb(230, 226, 226);
}
.box img{
    height: 150px;
    margin: auto;
    display: block;
}
#services .box p{
    font-family: 'Lemonada', cursive;
    /* font-size: 10px; */
}  
#clientsec{
    height: 344px;
}

#clients{
    display: flex;
    justify-content: center;
    align-items: center;
}
#clients img{
    height: 140px;
}
.client-items{
    padding: 34px;
}
#clientsec::before{
    content: "";
    position: absolute;
    background: url(../bg1.jpg) no-repeat center center/cover;
    width: 100%;
    height: 44%;
    z-index: -1;
    opacity: 0.3;
}

#contacts{
    position: relative;
}
#contacts::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.7;
    background: url(../contact.jpg) no-repeat center center/cover;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:34px ;
}
#contact-box form{
    width: 40%;

}
#contact-box label{
    font-size: 1.3rem;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1.1rem;
}




footer{
    background: black;
    color: white;
    padding: 9px 20px;
}

.h-primary{
    font-size: 45px;
    padding: 12px;
    font-family: 'Lemonada', cursive;
    
}
 .h-secondary{
    font-size: 2.3rem;
    padding: 12px;
    font-family: 'Lemonada', cursive;
} 
.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
}
 .center{
    text-align: center;
} 